* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.magic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  background-color: rgb(214, 214, 190);
  border-radius: 25%;
  box-shadow: 8px 8px rgb(230, 227, 227);

  animation:
    yair1 1.5s ease-out,
    yair2 4s ease-in-out infinite;

  transition:
    scale 0.5s ease,
    rotate 0.8s ease,
    background-color 0.3s;
  cursor: pointer;
}

@keyframes yair1 {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes yair2 {
  0%,
  100% {
    translate: 0px;
  }
  25% {
    translate: 100px;
  }
  75% {
    translate: -100px;
  }
}

.magic-card:hover {
  background-color: #eea2a2;
  scale: 2;
  rotate: 360deg;

  /* animation-play-state: paused; */
}
