* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.magic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  background-color: rgb(214, 214, 190);
  border-radius: 25%;
  box-shadow: 8px 8px rgb(230, 227, 227);
  animation:
    yair1 2s ease-out,
    yair2 2s ease-out  2s ;
  transition: transform 2s ease-in-out;
}

@keyframes yair1 {
  0% {
    transform: scale(0);
    opacity: 0;
    font-size: 0px;
    
  }
}

@keyframes yair2 {
  0% {
    translate: 0px;
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  75% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.magic-card:hover {
  background-color: #eea2a2;
  transform: rotate(360deg);
  transform: scale(3);
}

